templates/new-internal/new-internal.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "pocsqladlsenv"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/5TB')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy store_sales",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "TPC-DS/SourceFiles_parquet/store_sales",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": true,
									"partitionRootPath": "dbstorage5000/TPC-DS/SourceFiles_parquet/store_sales"
								}
							},
							"sink": {
								"type": "SqlPoolSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "data_source_link",
									"type": "LinkedServiceReference"
								}
							},
							"dataIntegrationUnits": 128,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ss_sold_time_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ss_sold_time_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ss_item_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ss_item_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ss_customer_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ss_customer_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ss_cdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ss_cdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ss_hdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ss_hdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ss_addr_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ss_addr_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ss_store_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ss_store_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ss_promo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ss_promo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ss_ticket_number",
											"type": "Int64"
										},
										"sink": {
											"name": "ss_ticket_number",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "ss_quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "ss_quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ss_wholesale_cost",
											"type": "Decimal"
										},
										"sink": {
											"name": "ss_wholesale_cost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ss_list_price",
											"type": "Decimal"
										},
										"sink": {
											"name": "ss_list_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ss_sales_price",
											"type": "Decimal"
										},
										"sink": {
											"name": "ss_sales_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ss_ext_discount_amt",
											"type": "Decimal"
										},
										"sink": {
											"name": "ss_ext_discount_amt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ss_ext_sales_price",
											"type": "Decimal"
										},
										"sink": {
											"name": "ss_ext_sales_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ss_ext_wholesale_cost",
											"type": "Decimal"
										},
										"sink": {
											"name": "ss_ext_wholesale_cost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ss_ext_list_price",
											"type": "Decimal"
										},
										"sink": {
											"name": "ss_ext_list_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ss_ext_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "ss_ext_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ss_coupon_amt",
											"type": "Decimal"
										},
										"sink": {
											"name": "ss_coupon_amt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ss_net_paid",
											"type": "Decimal"
										},
										"sink": {
											"name": "ss_net_paid",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ss_net_paid_inc_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "ss_net_paid_inc_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ss_net_profit",
											"type": "Decimal"
										},
										"sink": {
											"name": "ss_net_profit",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ss_sold_date_sk",
											"type": "String"
										},
										"sink": {
											"name": "ss_sold_date_sk",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "scbpocdev4",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SqlPoolTable69",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy catalog_returns",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy store_sales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "TPC-DS/SourceFiles_parquet/catalog_returns",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": true,
									"partitionRootPath": "dbstorage5000/TPC-DS/SourceFiles_parquet/catalog_returns"
								}
							},
							"sink": {
								"type": "SqlPoolSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "data_source_link",
									"type": "LinkedServiceReference"
								}
							},
							"dataIntegrationUnits": 128,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "cr_returned_time_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_returned_time_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_item_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_item_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_refunded_customer_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_refunded_customer_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_refunded_cdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_refunded_cdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_refunded_hdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_refunded_hdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_refunded_addr_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_refunded_addr_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_returning_customer_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_returning_customer_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_returning_cdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_returning_cdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_returning_hdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_returning_hdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_returning_addr_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_returning_addr_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_call_center_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_call_center_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_catalog_page_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_catalog_page_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_ship_mode_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_ship_mode_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_warehouse_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_warehouse_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_reason_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_reason_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_order_number",
											"type": "Int64"
										},
										"sink": {
											"name": "cr_order_number",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "cr_return_quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "cr_return_quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cr_return_amount",
											"type": "Decimal"
										},
										"sink": {
											"name": "cr_return_amount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cr_return_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "cr_return_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cr_return_amt_inc_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "cr_return_amt_inc_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cr_fee",
											"type": "Decimal"
										},
										"sink": {
											"name": "cr_fee",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cr_return_ship_cost",
											"type": "Decimal"
										},
										"sink": {
											"name": "cr_return_ship_cost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cr_refunded_cash",
											"type": "Decimal"
										},
										"sink": {
											"name": "cr_refunded_cash",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cr_reversed_charge",
											"type": "Decimal"
										},
										"sink": {
											"name": "cr_reversed_charge",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cr_store_credit",
											"type": "Decimal"
										},
										"sink": {
											"name": "cr_store_credit",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cr_net_loss",
											"type": "Decimal"
										},
										"sink": {
											"name": "cr_net_loss",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cr_returned_date_sk",
											"type": "String"
										},
										"sink": {
											"name": "cr_returned_date_sk",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Parquet15",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SqlPoolTable70",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy inventory",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy catalog_sales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "TPC-DS/SourceFiles_parquet/inventory",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": true,
									"partitionRootPath": "dbstorage5000/TPC-DS/SourceFiles_parquet/inventory"
								}
							},
							"sink": {
								"type": "SqlPoolSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "data_source_link",
									"type": "LinkedServiceReference"
								}
							},
							"dataIntegrationUnits": 128,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "inv_item_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "inv_item_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "inv_warehouse_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "inv_warehouse_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "inv_quantity_on_hand",
											"type": "Int32"
										},
										"sink": {
											"name": "inv_quantity_on_hand",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "inv_date_sk",
											"type": "String"
										},
										"sink": {
											"name": "inv_date_sk",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Parquet35",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SqlPoolTable72",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy catalog_sales",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy catalog_returns",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "TPC-DS/SourceFiles_parquet/catalog_sales",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": true,
									"partitionRootPath": "dbstorage5000/TPC-DS/SourceFiles_parquet/catalog_sales"
								}
							},
							"sink": {
								"type": "SqlPoolSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "data_source_link",
									"type": "LinkedServiceReference"
								}
							},
							"dataIntegrationUnits": 128,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "cs_sold_time_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_sold_time_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_ship_date_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_ship_date_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_bill_customer_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_bill_customer_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_bill_cdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_bill_cdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_bill_hdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_bill_hdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_bill_addr_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_bill_addr_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_ship_customer_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_ship_customer_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_ship_cdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_ship_cdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_ship_hdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_ship_hdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_ship_addr_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_ship_addr_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_call_center_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_call_center_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_catalog_page_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_catalog_page_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_ship_mode_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_ship_mode_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_warehouse_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_warehouse_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_item_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_item_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_promo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_promo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_order_number",
											"type": "Int64"
										},
										"sink": {
											"name": "cs_order_number",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "cs_quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "cs_quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "cs_wholesale_cost",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_wholesale_cost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_list_price",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_list_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_sales_price",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_sales_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_ext_discount_amt",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_ext_discount_amt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_ext_sales_price",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_ext_sales_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_ext_wholesale_cost",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_ext_wholesale_cost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_ext_list_price",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_ext_list_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_ext_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_ext_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_coupon_amt",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_coupon_amt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_ext_ship_cost",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_ext_ship_cost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_net_paid",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_net_paid",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_net_paid_inc_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_net_paid_inc_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_net_paid_inc_ship",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_net_paid_inc_ship",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_net_paid_inc_ship_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_net_paid_inc_ship_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_net_profit",
											"type": "Decimal"
										},
										"sink": {
											"name": "cs_net_profit",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "cs_sold_date_sk",
											"type": "String"
										},
										"sink": {
											"name": "cs_sold_date_sk",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Parquet25",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SqlPoolTable71",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy store_returns",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy inventory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "TPC-DS/SourceFiles_parquet/store_returns",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": true,
									"partitionRootPath": "dbstorage5000/TPC-DS/SourceFiles_parquet/store_returns"
								}
							},
							"sink": {
								"type": "SqlPoolSink",
								"allowCopyCommand": true
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "data_source_link",
									"type": "LinkedServiceReference"
								}
							},
							"dataIntegrationUnits": 128,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "sr_return_time_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "sr_return_time_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "sr_item_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "sr_item_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "sr_customer_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "sr_customer_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "sr_cdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "sr_cdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "sr_hdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "sr_hdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "sr_addr_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "sr_addr_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "sr_store_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "sr_store_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "sr_reason_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "sr_reason_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "sr_ticket_number",
											"type": "Int64"
										},
										"sink": {
											"name": "sr_ticket_number",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "sr_return_quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "sr_return_quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "sr_return_amt",
											"type": "Decimal"
										},
										"sink": {
											"name": "sr_return_amt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "sr_return_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "sr_return_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "sr_return_amt_inc_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "sr_return_amt_inc_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "sr_fee",
											"type": "Decimal"
										},
										"sink": {
											"name": "sr_fee",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "sr_return_ship_cost",
											"type": "Decimal"
										},
										"sink": {
											"name": "sr_return_ship_cost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "sr_refunded_cash",
											"type": "Decimal"
										},
										"sink": {
											"name": "sr_refunded_cash",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "sr_reversed_charge",
											"type": "Decimal"
										},
										"sink": {
											"name": "sr_reversed_charge",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "sr_store_credit",
											"type": "Decimal"
										},
										"sink": {
											"name": "sr_store_credit",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "sr_net_loss",
											"type": "Decimal"
										},
										"sink": {
											"name": "sr_net_loss",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "sr_returned_date_sk",
											"type": "String"
										},
										"sink": {
											"name": "sr_returned_date_sk",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Parquet45",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SqlPoolTable73",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy web_returns",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy web_sales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "TPC-DS/SourceFiles_parquet/web_returns",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": true,
									"partitionRootPath": "/dbstorage5000/TPC-DS/SourceFiles_parquet/web_returns"
								}
							},
							"sink": {
								"type": "SqlPoolSink",
								"allowCopyCommand": true
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "data_source_link",
									"type": "LinkedServiceReference"
								}
							},
							"dataIntegrationUnits": 128,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "wr_returned_time_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_returned_time_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_item_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_item_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_refunded_customer_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_refunded_customer_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_refunded_cdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_refunded_cdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_refunded_hdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_refunded_hdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_refunded_addr_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_refunded_addr_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_returning_customer_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_returning_customer_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_returning_cdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_returning_cdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_returning_hdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_returning_hdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_returning_addr_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_returning_addr_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_web_page_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_web_page_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_reason_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_reason_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_order_number",
											"type": "Int64"
										},
										"sink": {
											"name": "wr_order_number",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "wr_return_quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "wr_return_quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "wr_return_amt",
											"type": "Decimal"
										},
										"sink": {
											"name": "wr_return_amt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "wr_return_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "wr_return_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "wr_return_amt_inc_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "wr_return_amt_inc_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "wr_fee",
											"type": "Decimal"
										},
										"sink": {
											"name": "wr_fee",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "wr_return_ship_cost",
											"type": "Decimal"
										},
										"sink": {
											"name": "wr_return_ship_cost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "wr_refunded_cash",
											"type": "Decimal"
										},
										"sink": {
											"name": "wr_refunded_cash",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "wr_reversed_charge",
											"type": "Decimal"
										},
										"sink": {
											"name": "wr_reversed_charge",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "wr_account_credit",
											"type": "Decimal"
										},
										"sink": {
											"name": "wr_account_credit",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "wr_net_loss",
											"type": "Decimal"
										},
										"sink": {
											"name": "wr_net_loss",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "wr_returned_date_sk",
											"type": "String"
										},
										"sink": {
											"name": "wr_returned_date_sk",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Parquet65",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SqlPoolTable75",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy web_sales",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy store_returns",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "TPC-DS/SourceFiles_parquet/web_sales",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": true,
									"partitionRootPath": "dbstorage5000/TPC-DS/SourceFiles_parquet/web_sales"
								}
							},
							"sink": {
								"type": "SqlPoolSink",
								"allowCopyCommand": true
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "data_source_link",
									"type": "LinkedServiceReference"
								}
							},
							"dataIntegrationUnits": 128,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ws_sold_time_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_sold_time_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_ship_date_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_ship_date_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_item_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_item_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_bill_customer_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_bill_customer_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_bill_cdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_bill_cdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_bill_hdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_bill_hdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_bill_addr_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_bill_addr_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_ship_customer_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_ship_customer_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_ship_cdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_ship_cdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_ship_hdemo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_ship_hdemo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_ship_addr_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_ship_addr_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_web_page_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_web_page_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_web_site_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_web_site_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_ship_mode_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_ship_mode_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_warehouse_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_warehouse_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_promo_sk",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_promo_sk",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_order_number",
											"type": "Int64"
										},
										"sink": {
											"name": "ws_order_number",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "ws_quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "ws_quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ws_wholesale_cost",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_wholesale_cost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_list_price",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_list_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_sales_price",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_sales_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_ext_discount_amt",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_ext_discount_amt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_ext_sales_price",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_ext_sales_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_ext_wholesale_cost",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_ext_wholesale_cost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_ext_list_price",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_ext_list_price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_ext_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_ext_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_coupon_amt",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_coupon_amt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_ext_ship_cost",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_ext_ship_cost",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_net_paid",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_net_paid",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_net_paid_inc_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_net_paid_inc_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_net_paid_inc_ship",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_net_paid_inc_ship",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_net_paid_inc_ship_tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_net_paid_inc_ship_tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_net_profit",
											"type": "Decimal"
										},
										"sink": {
											"name": "ws_net_profit",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ws_sold_date_sk",
											"type": "String"
										},
										"sink": {
											"name": "ws_sold_date_sk",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Parquet55",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SqlPoolTable74",
								"type": "DatasetReference"
							}
						]
					}
				],
				"concurrency": 3,
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/scbpocdev4')]",
				"[concat(variables('workspaceId'), '/datasets/SqlPoolTable69')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet15')]",
				"[concat(variables('workspaceId'), '/datasets/SqlPoolTable70')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet35')]",
				"[concat(variables('workspaceId'), '/datasets/SqlPoolTable72')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet25')]",
				"[concat(variables('workspaceId'), '/datasets/SqlPoolTable71')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet45')]",
				"[concat(variables('workspaceId'), '/datasets/SqlPoolTable73')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet65')]",
				"[concat(variables('workspaceId'), '/datasets/SqlPoolTable75')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet55')]",
				"[concat(variables('workspaceId'), '/datasets/SqlPoolTable74')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/scbpocdev4')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "poc_dataset",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "TPC-DS/SourceFiles_parquet/store_sales",
						"fileSystem": "dbstorage5000"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ss_sold_time_sk",
						"type": "INT32"
					},
					{
						"name": "ss_item_sk",
						"type": "INT32"
					},
					{
						"name": "ss_customer_sk",
						"type": "INT32"
					},
					{
						"name": "ss_cdemo_sk",
						"type": "INT32"
					},
					{
						"name": "ss_hdemo_sk",
						"type": "INT32"
					},
					{
						"name": "ss_addr_sk",
						"type": "INT32"
					},
					{
						"name": "ss_store_sk",
						"type": "INT32"
					},
					{
						"name": "ss_promo_sk",
						"type": "INT32"
					},
					{
						"name": "ss_ticket_number",
						"type": "INT64"
					},
					{
						"name": "ss_quantity",
						"type": "INT32"
					},
					{
						"name": "ss_wholesale_cost",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_list_price",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_sales_price",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_ext_discount_amt",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_ext_sales_price",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_ext_wholesale_cost",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_ext_list_price",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_ext_tax",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_coupon_amt",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_net_paid",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_net_paid_inc_tax",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_net_profit",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_sold_date_sk",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SqlPoolTable69')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [
					{
						"name": "ss_sold_time_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ss_item_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ss_customer_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ss_cdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ss_hdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ss_addr_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ss_store_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ss_promo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ss_ticket_number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ss_quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ss_wholesale_cost",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_list_price",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_sales_price",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_ext_discount_amt",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_ext_sales_price",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_ext_wholesale_cost",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_ext_list_price",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_ext_tax",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_coupon_amt",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_net_paid",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_net_paid_inc_tax",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_net_profit",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ss_sold_date_sk",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "store_sales"
				},
				"sqlPool": {
					"referenceName": "internal_5tb",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/internal_5tb')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Parquet15')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "poc_dataset",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "TPC-DS/SourceFiles_parquet/catalog_returns",
						"fileSystem": "dbstorage5000"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "cc_call_center_sk",
						"type": "INT32"
					},
					{
						"name": "cc_call_center_id",
						"type": "UTF8"
					},
					{
						"name": "cc_rec_start_date",
						"type": "DATE"
					},
					{
						"name": "cc_rec_end_date",
						"type": "DATE"
					},
					{
						"name": "cc_closed_date_sk",
						"type": "INT32"
					},
					{
						"name": "cc_open_date_sk",
						"type": "INT32"
					},
					{
						"name": "cc_name",
						"type": "UTF8"
					},
					{
						"name": "cc_class",
						"type": "UTF8"
					},
					{
						"name": "cc_employees",
						"type": "INT32"
					},
					{
						"name": "cc_sq_ft",
						"type": "INT32"
					},
					{
						"name": "cc_hours",
						"type": "UTF8"
					},
					{
						"name": "cc_manager",
						"type": "UTF8"
					},
					{
						"name": "cc_mkt_id",
						"type": "INT32"
					},
					{
						"name": "cc_mkt_class",
						"type": "UTF8"
					},
					{
						"name": "cc_mkt_desc",
						"type": "UTF8"
					},
					{
						"name": "cc_market_manager",
						"type": "UTF8"
					},
					{
						"name": "cc_division",
						"type": "INT32"
					},
					{
						"name": "cc_division_name",
						"type": "UTF8"
					},
					{
						"name": "cc_company",
						"type": "INT32"
					},
					{
						"name": "cc_company_name",
						"type": "UTF8"
					},
					{
						"name": "cc_street_number",
						"type": "UTF8"
					},
					{
						"name": "cc_street_name",
						"type": "UTF8"
					},
					{
						"name": "cc_street_type",
						"type": "UTF8"
					},
					{
						"name": "cc_suite_number",
						"type": "UTF8"
					},
					{
						"name": "cc_city",
						"type": "UTF8"
					},
					{
						"name": "cc_county",
						"type": "UTF8"
					},
					{
						"name": "cc_state",
						"type": "UTF8"
					},
					{
						"name": "cc_zip",
						"type": "UTF8"
					},
					{
						"name": "cc_country",
						"type": "UTF8"
					},
					{
						"name": "cc_gmt_offset",
						"type": "DECIMAL",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "cc_tax_percentage",
						"type": "DECIMAL",
						"precision": 5,
						"scale": 2
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SqlPoolTable70')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [
					{
						"name": "cr_returned_time_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_item_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_refunded_customer_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_refunded_cdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_refunded_hdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_refunded_addr_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_returning_customer_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_returning_cdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_returning_hdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_returning_addr_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_call_center_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_catalog_page_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_ship_mode_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_warehouse_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_reason_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_order_number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "cr_return_quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cr_return_amount",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cr_return_tax",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cr_return_amt_inc_tax",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cr_fee",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cr_return_ship_cost",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cr_refunded_cash",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cr_reversed_charge",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cr_store_credit",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cr_net_loss",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cr_returned_date_sk",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "catalog_returns"
				},
				"sqlPool": {
					"referenceName": "internal_5tb",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/internal_5tb')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Parquet35')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "poc_dataset",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "TPC-DS/SourceFiles_parquet/inventory",
						"fileSystem": "dbstorage5000"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "inv_item_sk",
						"type": "INT32"
					},
					{
						"name": "inv_warehouse_sk",
						"type": "INT32"
					},
					{
						"name": "inv_quantity_on_hand",
						"type": "INT32"
					},
					{
						"name": "inv_date_sk",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SqlPoolTable72')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [
					{
						"name": "inv_item_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "inv_warehouse_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "inv_quantity_on_hand",
						"type": "int",
						"precision": 10
					},
					{
						"name": "inv_date_sk",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "inventory"
				},
				"sqlPool": {
					"referenceName": "internal_5tb",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/internal_5tb')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Parquet25')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "poc_dataset",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "TPC-DS/SourceFiles_parquet/catalog_sales",
						"fileSystem": "dbstorage5000"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "cs_sold_time_sk",
						"type": "INT32"
					},
					{
						"name": "cs_ship_date_sk",
						"type": "INT32"
					},
					{
						"name": "cs_bill_customer_sk",
						"type": "INT32"
					},
					{
						"name": "cs_bill_cdemo_sk",
						"type": "INT32"
					},
					{
						"name": "cs_bill_hdemo_sk",
						"type": "INT32"
					},
					{
						"name": "cs_bill_addr_sk",
						"type": "INT32"
					},
					{
						"name": "cs_ship_customer_sk",
						"type": "INT32"
					},
					{
						"name": "cs_ship_cdemo_sk",
						"type": "INT32"
					},
					{
						"name": "cs_ship_hdemo_sk",
						"type": "INT32"
					},
					{
						"name": "cs_ship_addr_sk",
						"type": "INT32"
					},
					{
						"name": "cs_call_center_sk",
						"type": "INT32"
					},
					{
						"name": "cs_catalog_page_sk",
						"type": "INT32"
					},
					{
						"name": "cs_ship_mode_sk",
						"type": "INT32"
					},
					{
						"name": "cs_warehouse_sk",
						"type": "INT32"
					},
					{
						"name": "cs_item_sk",
						"type": "INT32"
					},
					{
						"name": "cs_promo_sk",
						"type": "INT32"
					},
					{
						"name": "cs_order_number",
						"type": "INT64"
					},
					{
						"name": "cs_quantity",
						"type": "INT32"
					},
					{
						"name": "cs_wholesale_cost",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_list_price",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_sales_price",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_ext_discount_amt",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_ext_sales_price",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_ext_wholesale_cost",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_ext_list_price",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_ext_tax",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_coupon_amt",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_ext_ship_cost",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_net_paid",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_net_paid_inc_tax",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_net_paid_inc_ship",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_net_paid_inc_ship_tax",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_net_profit",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "cs_sold_date_sk",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SqlPoolTable71')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "catalog_sales"
				},
				"sqlPool": {
					"referenceName": "internal_5tb",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/internal_5tb')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Parquet45')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "poc_dataset",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "TPC-DS/SourceFiles_parquet/store_returns",
						"fileSystem": "dbstorage5000"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "sr_return_time_sk",
						"type": "INT32"
					},
					{
						"name": "sr_item_sk",
						"type": "INT32"
					},
					{
						"name": "sr_customer_sk",
						"type": "INT32"
					},
					{
						"name": "sr_cdemo_sk",
						"type": "INT32"
					},
					{
						"name": "sr_hdemo_sk",
						"type": "INT32"
					},
					{
						"name": "sr_addr_sk",
						"type": "INT32"
					},
					{
						"name": "sr_store_sk",
						"type": "INT32"
					},
					{
						"name": "sr_reason_sk",
						"type": "INT32"
					},
					{
						"name": "sr_ticket_number",
						"type": "INT64"
					},
					{
						"name": "sr_return_quantity",
						"type": "INT32"
					},
					{
						"name": "sr_return_amt",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_return_tax",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_return_amt_inc_tax",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_fee",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_return_ship_cost",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_refunded_cash",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_reversed_charge",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_store_credit",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_net_loss",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_returned_date_sk",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SqlPoolTable73')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [
					{
						"name": "sr_return_time_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sr_item_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sr_customer_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sr_cdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sr_hdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sr_addr_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sr_store_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sr_reason_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sr_ticket_number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "sr_return_quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sr_return_amt",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_return_tax",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_return_amt_inc_tax",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_fee",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_return_ship_cost",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_refunded_cash",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_reversed_charge",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_store_credit",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_net_loss",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "sr_returned_date_sk",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "store_returns"
				},
				"sqlPool": {
					"referenceName": "internal_5tb",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/internal_5tb')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Parquet65')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "poc_dataset",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "TPC-DS/SourceFiles_parquet/web_returns",
						"fileSystem": "dbstorage5000"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "wr_returned_time_sk",
						"type": "INT32"
					},
					{
						"name": "wr_item_sk",
						"type": "INT32"
					},
					{
						"name": "wr_refunded_customer_sk",
						"type": "INT32"
					},
					{
						"name": "wr_refunded_cdemo_sk",
						"type": "INT32"
					},
					{
						"name": "wr_refunded_hdemo_sk",
						"type": "INT32"
					},
					{
						"name": "wr_refunded_addr_sk",
						"type": "INT32"
					},
					{
						"name": "wr_returning_customer_sk",
						"type": "INT32"
					},
					{
						"name": "wr_returning_cdemo_sk",
						"type": "INT32"
					},
					{
						"name": "wr_returning_hdemo_sk",
						"type": "INT32"
					},
					{
						"name": "wr_returning_addr_sk",
						"type": "INT32"
					},
					{
						"name": "wr_web_page_sk",
						"type": "INT32"
					},
					{
						"name": "wr_reason_sk",
						"type": "INT32"
					},
					{
						"name": "wr_order_number",
						"type": "INT64"
					},
					{
						"name": "wr_return_quantity",
						"type": "INT32"
					},
					{
						"name": "wr_return_amt",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_return_tax",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_return_amt_inc_tax",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_fee",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_return_ship_cost",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_refunded_cash",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_reversed_charge",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_account_credit",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_net_loss",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_returned_date_sk",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SqlPoolTable75')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [
					{
						"name": "wr_returned_time_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_item_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_refunded_customer_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_refunded_cdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_refunded_hdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_refunded_addr_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_returning_customer_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_returning_cdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_returning_hdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_returning_addr_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_web_page_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_reason_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_order_number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "wr_return_quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wr_return_amt",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_return_tax",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_return_amt_inc_tax",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_fee",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_return_ship_cost",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_refunded_cash",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_reversed_charge",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_account_credit",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_net_loss",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "wr_returned_date_sk",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "web_returns"
				},
				"sqlPool": {
					"referenceName": "internal_5tb",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/internal_5tb')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Parquet55')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "poc_dataset",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "TPC-DS/SourceFiles_parquet/web_sales",
						"fileSystem": "dbstorage5000"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ws_sold_time_sk",
						"type": "INT32"
					},
					{
						"name": "ws_ship_date_sk",
						"type": "INT32"
					},
					{
						"name": "ws_item_sk",
						"type": "INT32"
					},
					{
						"name": "ws_bill_customer_sk",
						"type": "INT32"
					},
					{
						"name": "ws_bill_cdemo_sk",
						"type": "INT32"
					},
					{
						"name": "ws_bill_hdemo_sk",
						"type": "INT32"
					},
					{
						"name": "ws_bill_addr_sk",
						"type": "INT32"
					},
					{
						"name": "ws_ship_customer_sk",
						"type": "INT32"
					},
					{
						"name": "ws_ship_cdemo_sk",
						"type": "INT32"
					},
					{
						"name": "ws_ship_hdemo_sk",
						"type": "INT32"
					},
					{
						"name": "ws_ship_addr_sk",
						"type": "INT32"
					},
					{
						"name": "ws_web_page_sk",
						"type": "INT32"
					},
					{
						"name": "ws_web_site_sk",
						"type": "INT32"
					},
					{
						"name": "ws_ship_mode_sk",
						"type": "INT32"
					},
					{
						"name": "ws_warehouse_sk",
						"type": "INT32"
					},
					{
						"name": "ws_promo_sk",
						"type": "INT32"
					},
					{
						"name": "ws_order_number",
						"type": "INT64"
					},
					{
						"name": "ws_quantity",
						"type": "INT32"
					},
					{
						"name": "ws_wholesale_cost",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_list_price",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_sales_price",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_ext_discount_amt",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_ext_sales_price",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_ext_wholesale_cost",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_ext_list_price",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_ext_tax",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_coupon_amt",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_ext_ship_cost",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_net_paid",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_net_paid_inc_tax",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_net_paid_inc_ship",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_net_paid_inc_ship_tax",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_net_profit",
						"type": "DECIMAL",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_sold_date_sk",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SqlPoolTable74')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [
					{
						"name": "ws_sold_time_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_ship_date_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_item_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_bill_customer_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_bill_cdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_bill_hdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_bill_addr_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_ship_customer_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_ship_cdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_ship_hdemo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_ship_addr_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_web_page_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_web_site_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_ship_mode_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_warehouse_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_promo_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_order_number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ws_quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ws_wholesale_cost",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_list_price",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_sales_price",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_ext_discount_amt",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_ext_sales_price",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_ext_wholesale_cost",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_ext_list_price",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_ext_tax",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_coupon_amt",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_ext_ship_cost",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_net_paid",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_net_paid_inc_tax",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_net_paid_inc_ship",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_net_paid_inc_ship_tax",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_net_profit",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ws_sold_date_sk",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "web_sales"
				},
				"sqlPool": {
					"referenceName": "internal_5tb",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/internal_5tb')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/internal_5tb')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"collation": "SQL_Latin1_General_CP1_CI_AS",
				"maxSizeBytes": 263882790666240,
				"restorePointInTime": "0001-01-01T00:00:00",
				"annotations": []
			},
			"dependsOn": [],
			"location": "southeastasia"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/default')]",
			"type": "Microsoft.Synapse/workspaces/managedVirtualNetworks",
			"apiVersion": "2019-06-01-preview",
			"dependsOn": []
		}
	]
}